<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="S3ConnectionProfileXMLFilename" value="..//..//..//AmazonS3.Data//XML/AmazonS3ConnectionProfile.xml"/>
    <add key="S3ConnectionProfileXMLTempFilename" value="..//..//..//AmazonS3.Data//XML/AmazonS3ConnectionProfile.temp"/>
    <add key="AWSProfileName" value="WLS-LIVE-MEDIA"/>
    <add key="AWSRegion" value="us-east-1" />
  </appSettings>
</configuration>